//-------------------------------- Variables

//Charset
@charset "UTF-8";

//Fuentes from Google fonts
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700);



// colores
$background-contextBox: #f0f0f3;
$background-white: #ffffff;
$disabled-object: #939393;
$background-body: #ffffff;



//---- breaking point
$small: 300px;

$size__site_content_width: 1024px;

$text-color: #404040;
$text-enable: #676565;
$titles-color: #000000;

/* Media Queries */
$media_queries : (
    mobile: 667px,
    tablet: 668px,
    desktop: 1024px
);

//Fonts
$roboto: 'Roboto', sans-serif;


//Size Fonts
$font-p: 14px;
$font-h: 16px;

// mapa para Color
$mapCTexto: (
    ct1: $text-color,
    ct2: $titles-color,
    ct3: $text-enable
);

// mapa para background color
$mapBGColor: (
    bgc1: $background-body,
    bgc2: $background-contextBox,
    bgc3: $background-white
);

// mapa para font-weight
$mapFW: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    "black": 900
);