<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Media Player</title>
</head>
<body>
    <header class="header">
        <h1 class="header__title">Media Player</h1>
    </header>
    <main class="main">
        <div class="boxVideo">
            <video class="boxVideo__video">
                <source src="../assets/BigBuckBunny.mp4" type="video/mp4">
            </video>
        </div>

        <button class="btnPlay">Play/Pause</button>
    </main>
    <!-- #region JS-->
    <script type="module" src="../js/index.js"></script>
    <!-- #endregion -->
</body>
</html>